@import url(../assets/fonts/MyriadPro/stylesheet.css);
.title__new-line, .title__do-not-transform, .personal-deatails__first-name, .personal-deatails__position {
  display: block; }

* {
  box-sizing: border-box; }

body {
  color: #000;
  font: 400 16px/1.3 "Myriad Pro";
  margin: 0; }

[hidden] {
  display: none; }

.icon {
  fill: currentColor; }
  .title .icon {
    border-radius: 50%;
    border: 1px solid currentColor;
    flex-shrink: 0;
    height: 32px;
    padding: 3px;
    width: 32px; }
    @media (min-width: 1024px) {
      .title .icon {
        height: 64px;
        width: 64px; } }

p {
  margin: 0; }
  p ~ p {
    margin-top: 15px; }

/* Common elements */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1122px;
  width: 95%; }

.title {
  margin: 0 0 10px;
  text-transform: uppercase; }
  .title:not(.title_sub) {
    align-items: center;
    color: #3d6cb0;
    display: flex;
    font-size: 30px; }
    @media (min-width: 1024px) {
      .title:not(.title_sub) {
        font-size: 41px; } }
    .title:not(.title_sub):after {
      background-color: currentColor;
      content: "";
      flex-grow: 1;
      height: 5px; }
  .title__text {
    flex-shrink: 0;
    padding: 0 10px 0 13px; }
  .title__bold, .title__bold_blue {
    font-weight: 700;
    text-transform: uppercase; }
    @media (min-width: 1024px) {
      .title__bold, .title__bold_blue {
        font-size: 26px; } }
    .title__bold_blue {
      color: #3d6cb0; }
  .title__do-not-transform {
    text-transform: none; }
    @media (min-width: 1024px) {
      .title__do-not-transform {
        display: inline; } }

.title_sub {
  font-weight: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  @media (min-width: 1024px) {
    .title_sub {
      font-size: 26px; } }

.main__left-block, .main__right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }
  .main__left-block > *, .main__right-block > * {
    padding: 25px 0; }

@media (min-width: 1024px) {
  .main__left-block {
    width: calc(412 / 1122 * 100%); } }

@media (min-width: 1024px) {
  .main__right-block {
    width: calc(640 / 1122 * 100%); } }

.personal-deatails {
  text-align: center; }
  .personal-deatails__photo, .personal-deatails__photo:before {
    border-radius: 50%; }
  .personal-deatails__photo {
    background-color: currentColor;
    border: 1px solid currentColor;
    color: #3d6cb0;
    display: block;
    height: 233px;
    margin: auto;
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 233px; }
    .personal-deatails__photo:before {
      bottom: 0;
      box-shadow: inset 0 0 0 15px #fff;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1; }
  .personal-deatails__image {
    left: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .personal-deatails__title {
    font-size: 30px;
    margin: 35px 0 0;
    text-transform: uppercase; }
    @media (min-width: 1024px) {
      .personal-deatails__title {
        font-size: 62px; } }
  .personal-deatails__first-name {
    font-size: 30px;
    font-weight: 300; }
    @media (min-width: 1024px) {
      .personal-deatails__first-name {
        font-size: 52px; } }
  .personal-deatails__position {
    font-size: 16px; }
    @media (min-width: 1024px) {
      .personal-deatails__position {
        font-size: 25px; } }

.profile_details {
  font-size: 20px;
}

.contact__details {
  overflow: auto; }

.contact__list {
  font-style: normal;
  font-size: 21px; }

.contact__label {
  color: #3d6cb0;
  font-weight: 700;
  padding-right: 40px;
  text-transform: uppercase; }

.contact__label,
.contact__value {
  padding-top: 40px; }

.contact__link {
  color: currentColor;
  text-decoration: none; }

.skills__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px; }

.skills__levels {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 76.3%; }

.skills__item {
  background-color: #e6e6e6;
  border-radius: 50%;
  flex-shrink: 0;
  padding-bottom: 5.42%;
  width: 5.42%; }

.skills__item_active {
  background-color: #3d6cb0; }

.experience__post,
.education__post {
  margin-left: 12px;
  margin-top: 20px;
  padding-left: 40px;
  position: relative; }

.experience__post:before,
.education__post:before {
  background-color: #000;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 20px; }

.software__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.software__block {
  margin-top: 30px;
  width: calc(50% - 15px); }

@media screen and (min-width: 1024px) {
  .software__block {
    width: calc(50% - 35px); } }

.software__progress {
  -webkit-appearance: none;
  appearance: none;
  height: 23px;
  width: 100%; }

.software__progress[value]::-webkit-progress-bar {
  background: #e6e6e6; }

.software__progress[value]::-webkit-progress-value {
  background: #3d6cb0; }
